In [ ]:
import pandas as pd

sales = pd.read_csv("data/Sales.csv", parse_dates=True, index_col=0).sort_index()
sales

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-07-31,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Cleaners,Bike Wash - Dissolver,5,3,8,24,15,39
2016-07-31,31,July,2016,39,Adults (35-64),F,United States,California,Accessories,Fenders,Fender Set - Mountain,19,8,22,258,152,410
2016-07-31,31,July,2016,48,Adults (35-64),F,United Kingdom,England,Clothing,Caps,AWC Logo Cap,16,7,9,26,112,138
2016-07-31,31,July,2016,51,Adults (35-64),M,Germany,Saarland,Accessories,Tires and Tubes,ML Mountain Tire,6,11,30,82,66,148
2016-07-31,31,July,2016,42,Adults (35-64),F,United States,California,Accessories,Tires and Tubes,Patch Kit/8 Patches,7,1,2,7,7,14

In [12]:
sales.loc["2014"]

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2014-01-01,1,January,2014,24,Youth (<25),F,United Kingdom,England,Bikes,Road Bikes,"Road-150 Red, 52",1,2171,3578,1264,2171,3435
2014-01-01,1,January,2014,30,Young Adults (25-34),F,United Kingdom,England,Clothing,Jerseys,"Short-Sleeve Classic Jersey, L",4,42,54,39,168,207
2014-01-01,1,January,2014,21,Youth (<25),F,United States,California,Clothing,Vests,"Classic Vest, S",3,24,64,116,72,188
2014-01-01,1,January,2014,29,Young Adults (25-34),F,Australia,Queensland,Accessories,Bottles and Cages,Road Bottle Cage,15,3,9,68,45,113
2014-01-01,1,January,2014,39,Adults (35-64),F,United States,California,Accessories,Helmets,"Sport-100 Helmet, Red",6,13,35,128,78,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-31,31,July,2014,26,Young Adults (25-34),M,Canada,British Columbia,Clothing,Caps,AWC Logo Cap,29,7,9,55,203,258
2014-07-31,31,July,2014,54,Adults (35-64),M,Canada,British Columbia,Clothing,Vests,"Classic Vest, S",13,24,64,512,312,824
2014-07-31,31,July,2014,31,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,8,1,4,19,8,27
2014-07-31,31,July,2014,54,Adults (35-64),M,Canada,British Columbia,Accessories,Bottles and Cages,Water Bottle - 30 oz.,4,2,5,12,8,20
2014-07-31,31,July,2014,23,Youth (<25),M,Germany,Saarland,Accessories,Cleaners,Bike Wash - Dissolver,9,3,8,32,27,59

In [15]:
sales.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

In [18]:
sales["State"].value_counts()

State
California             22450
British Columbia       14116
England                13620
Washington             11264
New South Wales        10412
Victoria                6016
Oregon                  5286
Queensland              5220
Saarland                2770
Nordrhein-Westfalen     2484
Hessen                  2384
Seine (Paris)           2328
Hamburg                 1836
Seine Saint Denis       1684
Nord                    1670
South Australia         1564
Bayern                  1426
Hauts de Seine          1084
Essonne                  994
Yveline                  954
Tasmania                 724
Seine et Marne           394
Moselle                  386
Loiret                   382
Val d'Oise               264
Garonne (Haute)          208
Brandenburg              198
Val de Marne             158
Charente-Maritime        148
Somme                    134
Loir et Cher             120
Pas de Calais             90
Alberta                   56
Texas                     30
Illinois                  28
Ohio                      28
New York                  20
Florida                   14
Utah                      10
Kentucky                  10
South Carolina            10
Wyoming                    8
Georgia                    8
Ontario                    6
Montana                    6
Missouri                   6
Minnesota                  6
Arizona                    4
North Carolina             4
Alabama                    4
Mississippi                4
Virginia                   4
Massachusetts              2
Name: count, dtype: int64

In [32]:
country_sales = sales.groupby("Country")
profit_by_country = country_sales['Revenue'].sum().sort_values(ascending=False)
profit_by_country
df = profit_by_country.to_frame().reset_index()
df

          Country   Revenue
0   United States  27975547
1       Australia  21302059
2  United Kingdom  10646196
3         Germany   8978596
4          France   8432872
5          Canada   7935738

In [31]:
df.to_json()

'{"Country":{"0":"United States","1":"Australia","2":"United Kingdom","3":"Canada","4":"Germany","5":"France"},"Profit":{"0":11073644,"1":6776030,"2":4413853,"3":3717296,"4":3359995,"5":2880282}}'